.nav-bar a{

    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: sans-serif;


}

.nav-bar a:hover{
color: red;
transition: .5s;

}
ul.nav-bar{

    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    




}
.nav-bar{
    background-color: #fbf7f4;
}
.nav-bar li{

    padding: 10px;
    padding-right: 30px;
}