@import url(https://fonts.googleapis.com/css?family=Inter&display=swap);
.train {
    display: flex;
    font-family: 'Inter', 'sans-serif';
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 600px;
    height: 60px;
    padding:20px;
    border-bottom: solid;

}
.leftstuff {
    font-size: 40;
    display: flex;
    flex-direction: row;
    
}
#timevalue {
    font-size: 30px;
    
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-weight: bold;
}

.trainInformation {
    margin-left: 30px;
    margin-top: 10px;
    
    
}

.station-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    font-weight: bold;
    margin-bottom: 10px;
    
}
.line {
    
    color: white;
    width: fit-content;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-right: 20px;
}

.subinfo {
    display: flex;
    align-items: center;
    font-weight: bold;
    
}